#cuerpo {
<<<<<<< HEAD
    border-style: solid;
    width: 99.5%;
    height: 650px;
=======
    height: 100%;
    width: 100%;
    border-style: solid;
>>>>>>> 62af7b0eeca4927237537cd9c4560d975d4fb60a
}